{% extends "blog/main/main_base.html" %}
{% load thumbnail %}
{% load staticfiles %}
<!--{% load oembed_tags %}-->

    {% block content %}
        {% if latest %}
            <div id="my-content" class="col content">
                {% for post in latest %}
                {% if post.image %}
                <div  class="content w100" style="background-image:url({{ post.image.url }})">
                {% else %}
                <div  class="content">
                {% endif %}
                    <div class="my-post  w70 pa1 ma1">
                        {% if post.slug %}
                            <h1><a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></h1>
                        {% else %}
                            <h1><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h1>
                        {% endif %}
                        {% if post.image %}
                        <p class="my-cover">
                            <img src="{{ post.image.url }}">
                        </p>
                        {% endif %}
                        <p class="my-text">
                             {{ post.text|urlize|linebreaks }} </p>
                        <p class="my-date">
                             {{ post.date }}
                        </p>
                    </div>
                </div>
                {% endfor %}

                {% if is_paginated %}
                    <div class="my-pagination biggest">
                        {% if page_obj.has_previous %}
                            <a href="{% url "blog:index" %}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        {% if page_obj.has_next %}
                            <a href="{% url "blog:index" %}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

        {% endif %}
    {% endblock %}
