{% extends "main/main_base.html" %}
{% block main %}
<div class="container container-main">
    <div class="row">
        <div class="three columns navigation-menu">
            <ul>
                <li>
                    <a href="http://www.tv.pizzasuicideclub.com/">Pizza Suicide Tv</a>
                </li>
                <li>
                    <a href="">Pizza Suicide Club Blog</a>
                </li>
            </ul>
        </div>
        <div class="three columns headlines">
            {% include "main/partials/latest_posts.html" %}
        </div>
    </div>
</div>
{% endblock %}
