{% extends "common/generic_base.html" %}
{% load staticfiles %}

    {% block css %}
        <link rel="stylesheet" href="{% static "bower_components/milligram/dist/milligram.min.css" %}" media="all">
        <link rel="stylesheet" href="{% static "bower_components/normalize.css/" %}" media="all">
        <link rel="stylesheet" href="{% static "main/css/style.css" %}" media="all">
    {% endblock %}

    {% block scripts %}
        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock %}
    {% block pagescripts %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {% endblock %}

    {% block header %}
    {% endblock %}
    
    {% block navigation %}
    {% endblock %}

    {% block main %}
        {% block content %}
        {% endblock %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

