{% load flatpages %}
{% get_flatpages as flatpages %}
        <div id="my-navbar" class="line">
            <nav id="navigation" role="navigation">
                {% for page in flatpages %}
                    <li class='inbl'><a href="pages{{ page.url }}"> {{ page.title }}</a></li>
                {% endfor %}
                <li class='inbl'> 
                    <a href="http://www.tv.pizzasuicideclub.com">
                        Pizza Suicide TV
                    </a>
                </li>
                <li class='inbl'> 
                    <a href="http://www.records.pizzasuicideclub.com">
                        Pizza Suicide Records
                    </a>
                </li>

<!--
            {% for tag in alltags %}
                <li class="pa0 prs inbl"><a href="{% url 'blog:tagged'  tag.slug  %}"> {{ tag.name }}</a></li>
            {% endfor %}
-->
                    
                </ul>
            </nav>
        </div>
        
        
