{% extends "blog/generic_base.html" %}
{% load staticfiles %}

	{% block css %}
		<link rel="stylesheet" href="{% static "blog/css/main.css" %}" type="text/css">
	{% endblock %}
	{% block navigation %}
		{% include "blog/main/main_nav.html" %}
	{% endblock %}

	{% block content %}
	<div id="drama">
		{% if latest %}
			{% for p in latest %}
				<h1><a href="{% url 'blog:page_detail' slug=page pk=p.pk %}">{{ p.title }}</a></h1>
				<br>
				{{ page }} / {{ p.id }}
				<br>
				<img src="{{ MEDIA_URL }}{{ p.cover }}">
				<br>
				{{ p.text }}
				<br>
				{% for tag in p.tags.all %}
					<a href="{% url 'blog:tagged' tag.slug %}">{{ tag.name }}</a>				
				{% endfor %}
				<br>
				{{ p.date }}
				<br>

				<hr>
			{% endfor %}
		{% endif %}
	</div>
	{% endblock %}
