/* custom styles prepended by my- */



a {
color:#eee;
}	
/* header */

.my-header {
	background-color:#aeaeae;
	border-bottom:10px #111 solid;
}

	
/* navbar */

#my-navbar {
	background-color:#333;	
}

#my-navbar li {
	list-style-type:none;
	color:#eee;
	border:0px #D1F2A5 solid;

}


#my-navbar a {
	text-decoration:none;
}

.my-description {
	background-color:#666;
	color:#eee;
	border:5px #F56991 solid;	
}

/* content */


#my-content iframe {
	width:100%;
	
}

.my-post {
	background-color:#444;
	margin:auto;	
}
.my-post a:link {
	text-decoration:none;
	background-color:#666;
	color:#F56991:
	}
	
.my-post a:hover {
	color:white;
}	
	
.my-post p{
	color:#eee;
	}

.my-pagination {
	text-align:center;
	color:black;
	background-color:pink;
	}

/* aside in content area */

#my-aside {
	background-color:#222;
}
#my-aside p {
	background-color:#F56991;
}

.my-aside-box {
	border:10px #F56991 solid;
}
 
	
/* footer */

.my-footer {
	background-color:#F56991;
}
@media (min-width: 641px) {
/* here go rules for big resources and big screens like: background-images, font-faces, etc. */
	#my-content {
	background-image:url('/static/blog/img/my-content-bg.gif');
}

@media (max-width: 768px) {

	.my-post {
		width:100%;
		}	

}


